body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .container {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(144, 238, 144, 0.25);
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: 5px 5px #888888;
  }
  
  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #myChartContainer {
    width: 80%; /* Adjust the width to your desired size */
    height: 50vh; /* Adjust the height to your desired size */
    margin: 0 auto; /* This will horizontally center the container */ 
  }

  .closeOrderButton {
    /* Add your custom CSS styles for the close button */
    /* max-width: 80%; */
    background-color: red;
    color: white;
    /* font-weight: bold; */
    /* border: none; */
    /* padding: 10px 20px; */
    border-radius: 5px;
    /* cursor: pointer; */
  }