body {
    font-family: Arial, sans-serif;
    transition: background-color 0.7s, color 0.7s;
}

.day {
  background-color: white;
  color: black;
}

.night {
  background-color: black;
  color: white;
}
  
.navbar {
  background-color: #333;
  color: #fff;
}
  
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
  
}

.navbar-item a {
  text-decoration: none;
  color: #fff;
}
  
.container {
  max-width: 95%;
  min-width: 95%;
  margin: 5% auto;
  padding: 5px;
  background-color: rgba(144, 238, 144, 0.18);
  border: 1px solid rgb(79, 121, 66);
  border-radius: 7px;
  box-shadow: 3px 3px #D3D3D3;
}

.chart-container,
#message,
#myChartContainer {
  width: 95%;
  min-width: 95%;
  overflow-x: auto;
  overflow-y: auto; 
  /* white-space: nowrap;  */
  margin: 3% auto;
  padding: 5px;
  background-color: rgba(144, 238, 144, 0.18);
  border: 1px solid rgb(79, 121, 66);
  border-radius: 7px;
  box-shadow: 3px 3px #D3D3D3;
}

/* #algoChart {
  min-width: 100%; 
}  */

#message {
  text-align: center;
  color: rgb(79, 121, 66);
  /* width: 50%; */

}

#bordered-modal {
  /* background-color: lightslategray; */
  border: 1px solid red;
  border-radius: 10px;
  /* box-shadow: 5px 5px grey; */
}
  
.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.closeOrderButton {
  background-color: red;
  color: white;
  border-radius: 3.5px;
}

.sticky-header {
  /* position: sticky; */
  /* top: 0; */
  /* background-color: white; Change the background color as needed */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* background-color: green; */
  border: 2px solid #4CAF50;
  /* z-index: 1; Ensure the header stays above the table content */
}

/* brown */
#tickerSymbol,
#intervalSelect,
#symbolInput,
/* #expDateInput, */
#fridaysSelect,
#optionTypeSelect,
#searchLoad,
#refreshButton,
#viewButton,
#datepicker  {
  width:100%;
  background-color: rgba(139,69,19, 0.15);
  border: 1px solid rgb(139,69,19);
  color: rgb(139,69,19);
  border-radius: 6px;
  -webkit-border-radius: 6px; /* Safari/Chrome */
  -moz-border-radius: 6px; 
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
  text-align: center;
  -webkit-text-align: center; /* Safari */
  -moz-text-align: center; /* Firefox */

  /* Reset default styles for Safari */
  -webkit-appearance: none;

  /* Reset default styles for Firefox */
  -moz-appearance: none;
}

/* .custom-select {
  width: 100%;
  background-color: rgba(139, 69, 19, 0.15);
  border: 1px solid rgb(139, 69, 19);
  color: rgb(139, 69, 19);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
  text-align: center;
} */

/* blue */
#viewPositionsButton,
#optionSymbol,
#qty,
#sideSelect,
#typeSelect,
#durationSelect,
#price,
#stop,
#symbol,
#expDate,
#placeOrderButton  {
  width:100%;
  background-color: rgba(0, 0, 255, 0.15);
  border: 1px solid rgb(0, 0, 255);
  color: rgb(0, 0, 255);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

/* grey */
#viewPositionsButton,
#balanceButton,
#profileButton  {
  width:100%;
  background-color: rgba(105, 105, 105, 0.15);
  border: 1px solid rgb(105, 105, 105);
  color: rgb(105, 105, 105);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

/* orange */
#orderId,
#type,
#duration,
#modifyPrice,
#modifyStop,
#modifyOrderButton,
#suggested_direction,
#direction,
#exit_the_trade,
#loop_the_trend,
#ema1,
#ema7,
#currPrice,
#dateTime,
#buyPrice,
#closePrice  {
  width:100%;
  background-color: rgba(255, 140, 0, 0.15);
  border: 1px solid rgb(255, 140, 0);
  color: rgb(255, 140, 0);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

/* green */
#openTradesButton  {
  width:100%;
  background-color: rgba(0, 100, 0, 0.15);
  border: 1px solid rgb(0, 100, 0);
  color: rgb(0, 100, 0);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

/* purple */
#symbolInput2,
#startDate2,
#endDate2,
#limitSelect2,
#sortSelect,
#viewStatsButton  {
  width:100%;
  background-color: rgba(128, 0, 32, 0.15);
  border: 1px solid rgb(128, 0, 32);
  color: rgb(128, 0, 32);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

/* red */
#optionSymbol0,
#qty0,
#sideSelect0,
#typeSelect0,
#durationSelect0,
#price0,
#stop0,
#symbol0,
#expDate0,
#algoOrderButton  {
  width:100%;
  background-color: rgba(178, 34, 34, 0.15);
  border: 1px solid rgb(178, 34, 34);
  color: rgb(178, 34, 34);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}


#successMessage,
#successMessage1,
#successMessage2,
#successMessage3,
#positionsSuccessMessage,
#modifyOrderMessage,
#orderMessage {
  border: 1px solid green;
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

#errorMessage,
#errorMessage1,
#errorMessage2,
#errorMessage3,
#modifyErrorMessage {
  border: 1px solid red;
  margin: 10px auto;
  width: 90%;
  text-align: center;
}

.accountLeftProfile {
  float:left;
  padding: 7px;
  margin: 7px auto;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.15);
  border: 1px solid rgb(255, 140, 0);
  color: rgb(255, 140, 0);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

.accountRightProfile {
  float:right;
  padding: 7px;
  margin: 7px auto;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.15);
  border: 1px solid rgb(255, 140, 0);
  color: rgb(255, 140, 0);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

.accountLeft {
  float:left;
  padding: 7px;
  border-radius: 5px;
  margin: 7px auto;
  text-align: center;
  background-color: rgba(233, 150, 122, 0.15);
  border: 1px solid rgb(233, 150, 122);
  color: rgb(233, 150, 122);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}

.accountRight {
  float:right;
  padding: 7px;
  border-radius: 5px;
  margin: 7px auto;
  text-align: center;
  background-color: rgba(233, 150, 122, 0.15);
  border: 1px solid rgb(233, 150, 122);
  color: rgb(233, 150, 122);
  border-radius: 6px;
  box-shadow: 3px 3px #D3D3D3;
  margin-bottom: 10px;
}
