aiohttp==3.8.2
aiosignal==1.3.1
alpaca-py==0.8.2
alpaca-trade-api==3.0.2
appnope==0.1.0
async-timeout==4.0.2
attrs==23.1.0
backcall==0.1.0
blinker==1.6.2
certifi==2019.9.11
charset-normalizer==2.0.7
click==8.1.6
cycler==0.11.0
decorator==4.4.1
deprecation==2.1.0
Flask==2.3.2
Flask-Cors==4.0.0
frozenlist==1.4.0
greenlet==2.0.2
idna==3.3
importlib-metadata==6.8.0
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.15.1
Jinja2==3.1.2
kiwisolver==1.3.2
MarkupSafe==2.1.3
matplotlib==3.4.3
msgpack==1.0.3
multidict==5.2.0
numpy==1.21.3
packaging==23.1
pandas==1.5.3
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2018.11.26
prompt-toolkit==2.0.10
psycopg2==2.9.6
ptyprocess==0.6.0
pydantic==1.10.11
Pygments==2.4.2
pyparsing==3.0.3
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.31.0
six==1.13.0
SQLAlchemy==2.0.9
sseclient-py==1.7.2
TA-Lib==0.4.27
traitlets==4.3.3
typing_extensions==4.5.0
urllib3==1.26.7
virtualenv==16.7.7
virtualenv-clone==0.5.3
wcwidth==0.1.7
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.3.6
yarl==1.9.2
zipp==3.16.2
